.dialog-form{


    .custom-header {
        font-size: 16px;
        color: #303133;
        font-weight: bold;
        background-color:white;
        text-align: left;
        height: 30px;
      }

      .el-dialog__wrapper {
        border: none !important; /* 去除边框 */
        box-shadow: none !important; /* 去除阴影 */
      }

    
}


.layout-container-demo{

  .el-header {
    position: relative;
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
  }
  .el-aside {
    color: var(--el-text-color-primary);
    background: var(--el-color-primary-light-8);
    height: 580px;
    background-color: transparent;
    width: 120px;
    border-style: solid;//添加边框
    border-width: 1px; /* 边框宽度 */
    border-color: #303133; /* 你想要的边框颜色 */
    overflow-x: hidden;
  }
  .el-menu {


    .el-menu-vertical-demo{
      right: 40px;
      width: 175px;
      background-color: transparent;
      height: 100%;
      border: 0!important;
    }

    //meun选中后的背景色
    .el-menu-item.is-active {
      background-color:#eaeeff; /* 你想要的背景色 */
      color:firebrick; //选中后文字、图标颜色
    }


    //meun触碰后的背景色
    .el-menu-item:hover {
      color: firebrick;
      background-color: #eaeeff !important;
      }
    
      .row-menu{    
        background-color: transparent;
        left: 38%;
        width: 100px;
        color:mediumaquamarine;
      }

      //左侧Meun列设置
      .left-label-1{
        position:relative;
        right: 8px;
      }
      .left-icon-1{
        position:relative;
        left: -8px;
        font-size: 18px;
      }
  
    
  }

  .el-main {
    padding: 0;
    background-color:snow;
    border-style: solid;//添加边框
    border-width: 1px; /* 边框宽度 */
    border-color: #303133; /* 你想要的边框颜色 */
  }
  .toolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
  }


}

