#main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
 .el-header{
    background-color: transparent;
    color: transparent;
    text-align: center;
    line-height: 55px;
  }
  
  .el-aside {
    background-color:transparent;
    color: aliceblue;
    text-align: center;
    line-height: 870px;
    padding-right: 200px;
    overflow-x: hidden; // 去除水平滚动条
  }
  
  .el-main {
    background-color: transparent;
    color: #333;
    text-align: center;
    line-height: 830px;
    height: 100%;
  }
  body > .el-container {
    margin-bottom: 40px;
  }
  .el-container {   
    height: 100%;    
    width: 100%;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

  .el-menu-demo{
    position: absolute;
    right: 0px;
    width: 100%;
    display: flex;
    background-color:transparent;
    // justify-content:left
  }
  .menu-item-1{
    position: absolute;
    right: 700px;
  }

  .menu-item-2{
    position: absolute;
    right: 566px;
  }

  .menu-item-3{
    position: absolute;
    right: 502px;
  }

  .menu-item-4{
    position: absolute;
    right: 419px;
  }

  .menu-item-5{
    position: absolute;
    right: 328px;
  }
  

  .div-button-1{
    position: absolute;
    width: 100%;
    right: 600px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }
  .input-find{
    position: absolute;
    height: 32px;
    width: 12%;
    right: 680px;
    top: 13px;
    color: #333;
  }
  .button-2{
    position: absolute;
    height: 32px;
    // width: 45px;
    padding: 8px;
    right: 619px;
    top: 13px;
  }
  .row-menu{    
    background-color: transparent;
    left: 38%;
    width: 100px;
    color:mediumaquamarine;
    
  }
  .el-menu-vertical-demo{
    right: 40px;
    width: 175px;
    background-color: transparent;
    height: 100%;
    border: 0!important;
  }
  .div-button-2{
    position: absolute;
    width: 180px;
    right: 0px;
  }
  .button-3{
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
  } 
  .button-4{
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    color:moccasin;
    border: 0;
    // padding: 10px 20px;
    transition: transform 0.5s;/* 图标放大动画 */
    
  } 
   //按钮选中后的背景色
  .button-4:hover {
    background-color: transparent; /* 更改为你想要的颜色 */
    transform: scale(1.6); /* 图标放大动画 */
  }
  //图标选中后的背景色
  .button-4:hover .el-icon{
    color:beige;
  }
  .div-button-3{
    position: absolute;
    width: 260px;
    right: 100px;
  }
  .homepage-button{
    // padding: 30px;
    left: 0px;
    align-items: right;
  }

  .div-button-4{
    position: absolute;
    left: 200px;
  }

  .button-5{
    width: 100px;
    height: 58.5px;
    background-image: url('./assets/logo1.jpg');
    background-size: cover; /* 背景图片自适应按钮大小 */
    background-position: center; /* 背景图片居中 */
    border: none;
    background-color: transparent;
  }

  //按钮选中后的背景色
  .button-5:hover {
    background-color: transparent; /* 更改为你想要的颜色 */
  }

  .div-button-5{
    position: absolute;
    right: 130px;
  }