#main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
 .el-header{
    background-color: transparent;
    color: transparent;
    text-align: center;
    line-height: 55px;
  }
  
  .el-aside {
    background-color:aliceblue;
    color: aliceblue;
    text-align: center;
    line-height: 870px;
    padding-right: 20px;
    overflow-x: hidden; // 去除水平滚动条
  }
  
  .el-main {
    background-color: transparent;
    color: #333;
    text-align: center;
    line-height: 832px;
  }
  body > .el-container {
    margin-bottom: 40px;
  }
  .el-container {   
    height: 100%;    
    width: 100%;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }

  .el-menu-demo{
    right: 20px;
    width: 102.2%;
    display: flex;
    background-color:lightblue;
    // justify-content:left
  }

  .div-button-1{
    width: 70%;
    text-align: right;
    align-items: center;
    
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
  }
  .input-find{
    height: 32px;
    width: 18%;
    right: -10px;
    color: #333;
  }
  .button-2{
    height: 32px;
    // width: 45px;
    padding-right: 8px;
    right: -20px;
  }
  .row-menu{
    background-color: aliceblue;
    left: 38%;
    width: 100px;
    color:mediumaquamarine
    
  }
  .el-menu-vertical-demo{
    right: 40px;
    width: 130px;
  }